header(id="top")
    .header-top
        .container
            .header-top__item
                p Разработка документации на блюда по всей России
            .header-top__item
                p.dops Часы работы: <span>пн-вс 09:00 до 21:00</span>
                a.tell(href="tel:+74993466690") +7-(499)-346-66-90
                a.mail(href="mailto:support@menushop.ru") support@menushop.ru
    .header-bottom
        .container
            a.logo(href="index.html") 
                img(src=img+"1440/logo.png", alt="")
            .header__menu
                input(type="checkbox" id="menu-bar")
                label.main-menu-btn-icon(for="menu-bar")
                nav.navbar
                    ul 
                        li
                            a(href="#services") услуги
                        li
                            a(href="#stoimost") стоимость
                        li
                            a(href="#shema_raboti") схема работы
                        li
                            a(href="#otziv") отзывы
                        li
                            a(href="#contact") контакты
            p.dops-mobile Часы работы: <span>пн-вс 09:00 до 21:00</span>
            a.btn(href="#text-popup_1" id="pop_1") позвоните нам
