head
	//- кодировка
	meta(charset='UTF-8')
	//- apple meta
	meta(name='format-detection', content='telephone=no')
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black")
	//- viewport
	meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	//- favicon
	meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
	meta(name="description" content="Закажите разработку технологических и калькуляционных карт на блюда. От 170 рублей за карту. Срок от 1 дня.")
	meta(name="keywords" content="технологические карты блюд, калькуляционные карты блюд, акт контрольной проработки блюда")
	meta(name="generator" content="2015.0.2.310")
	link(rel="shortcut icon" href="img/разработка-технологических-и-калькуляционных-карт-на-блюда-по-всей-россии-favicon.ico")
	<title>Разработка технологических и калькуляционных карт на блюда по всей России</title>
	//- fonts
	//- stylesheet
	link(rel="stylesheet", href="css/libs.css")
	link(rel="stylesheet", href="css/style.css")
	